@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* VARIABLES */
:root {
    --color-primario: #eca9a9;
    --color-claro: rgb(255, 236, 236);
    --color-oscuro: #c48c8c;
    --color-background: #ffffff;
    --color-texto: #000000;
    --color-texto-claro: #555;
    --text-defaul: "Poppins", sans-serif;
}

/* GENERALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-defaul);
}

.technologies {
    max-width: 1200px; 
    min-width: 320px; 
    margin: auto; 
    padding: 20px; 
    background-color: var(--color-background);
}

.technologies-title {        
    font-size: 3.5rem;
    color: var(--color-primario);   
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
}  

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.technologies-category {
    background: var(--color-claro);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.technologies-category:hover {
    transform: translateY(-5px);
}

.technologies-icon {
    font-size: 3rem;
    color: var(--color-primario);
    margin-bottom: 5px; 
}

.technologies-icon-frontend {
    font-size: 3.5rem; 
    color: var(--color-primario);
    font-weight: bold;
    margin-bottom: -5px; 
}

.technologies-subtitle {
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-texto-claro);
    margin-bottom: 15px;
}

.technologies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.technologies-list span {
    background: var(--color-primario);
    color: var(--color-texto);
    padding: 8px 14px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
